# https://docs.npmjs.com/misc/config
save-dev = true
save-exact = true
registry=http://wechat.gaiaworkforce.com:4873
//wechat.gaiaworkforce.com:4873/:_authToken="UqWorMXn3U+jM6/QIx+6KUuuMzSCwqXt+Fd/aq6qcMk="
public-hoist-pattern[]=@babel/cli
public-hoist-pattern[]=@babel/compat-data
public-hoist-pattern[]=@babel/core
public-hoist-pattern[]=@babel/helper-compilation-targets
public-hoist-pattern[]=@babel/helper-plugin-utils
public-hoist-pattern[]=@babel/helper-validator-option
public-hoist-pattern[]=@babel/plugin-bugfix-safari-id-destructuring-collision-in-function-expression
public-hoist-pattern[]=@babel/plugin-bugfix-v8-spread-parameters-in-optional-chaining
public-hoist-pattern[]=@babel/plugin-proposal-async-generator-functions
public-hoist-pattern[]=@babel/plugin-proposal-class-properties
public-hoist-pattern[]=@babel/plugin-proposal-class-static-block
public-hoist-pattern[]=@babel/plugin-proposal-decorators
public-hoist-pattern[]=@babel/plugin-proposal-do-expressions
public-hoist-pattern[]=@babel/plugin-proposal-dynamic-import
public-hoist-pattern[]=@babel/plugin-proposal-export-default-from
public-hoist-pattern[]=@babel/plugin-proposal-export-namespace-from
public-hoist-pattern[]=@babel/plugin-proposal-function-bind
public-hoist-pattern[]=@babel/plugin-proposal-function-sent
public-hoist-pattern[]=@babel/plugin-proposal-json-strings
public-hoist-pattern[]=@babel/plugin-proposal-logical-assignment-operators
public-hoist-pattern[]=@babel/plugin-proposal-nullish-coalescing-operator
public-hoist-pattern[]=@babel/plugin-proposal-numeric-separator
public-hoist-pattern[]=@babel/plugin-proposal-object-rest-spread
public-hoist-pattern[]=@babel/plugin-proposal-optional-catch-binding
public-hoist-pattern[]=@babel/plugin-proposal-optional-chaining
public-hoist-pattern[]=@babel/plugin-proposal-pipeline-operator
public-hoist-pattern[]=@babel/plugin-proposal-private-methods
public-hoist-pattern[]=@babel/plugin-proposal-private-property-in-object
public-hoist-pattern[]=@babel/plugin-proposal-throw-expressions
public-hoist-pattern[]=@babel/plugin-proposal-unicode-property-regex
public-hoist-pattern[]=@babel/plugin-syntax-async-generators
public-hoist-pattern[]=@babel/plugin-syntax-class-properties
public-hoist-pattern[]=@babel/plugin-syntax-class-static-block
public-hoist-pattern[]=@babel/plugin-syntax-dynamic-import
public-hoist-pattern[]=@babel/plugin-syntax-export-namespace-from
public-hoist-pattern[]=@babel/plugin-syntax-import-meta
public-hoist-pattern[]=@babel/plugin-syntax-json-strings
public-hoist-pattern[]=@babel/plugin-syntax-logical-assignment-operators
public-hoist-pattern[]=@babel/plugin-syntax-nullish-coalescing-operator
public-hoist-pattern[]=@babel/plugin-syntax-numeric-separator
public-hoist-pattern[]=@babel/plugin-syntax-object-rest-spread
public-hoist-pattern[]=@babel/plugin-syntax-optional-catch-binding
public-hoist-pattern[]=@babel/plugin-syntax-optional-chaining
public-hoist-pattern[]=@babel/plugin-syntax-private-property-in-object
public-hoist-pattern[]=@babel/plugin-syntax-top-level-await
public-hoist-pattern[]=@babel/plugin-transform-arrow-functions
public-hoist-pattern[]=@babel/plugin-transform-async-to-generator
public-hoist-pattern[]=@babel/plugin-transform-block-scoped-functions
public-hoist-pattern[]=@babel/plugin-transform-block-scoping
public-hoist-pattern[]=@babel/plugin-transform-classes
public-hoist-pattern[]=@babel/plugin-transform-computed-properties
public-hoist-pattern[]=@babel/plugin-transform-destructuring
public-hoist-pattern[]=@babel/plugin-transform-dotall-regex
public-hoist-pattern[]=@babel/plugin-transform-duplicate-keys
public-hoist-pattern[]=@babel/plugin-transform-exponentiation-operator
public-hoist-pattern[]=@babel/plugin-transform-for-of
public-hoist-pattern[]=@babel/plugin-transform-function-name
public-hoist-pattern[]=@babel/plugin-transform-literals
public-hoist-pattern[]=@babel/plugin-transform-member-expression-literals
public-hoist-pattern[]=@babel/plugin-transform-modules-amd
public-hoist-pattern[]=@babel/plugin-transform-modules-commonjs
public-hoist-pattern[]=@babel/plugin-transform-modules-systemjs
public-hoist-pattern[]=@babel/plugin-transform-modules-umd
public-hoist-pattern[]=@babel/plugin-transform-named-capturing-groups-regex
public-hoist-pattern[]=@babel/plugin-transform-new-target
public-hoist-pattern[]=@babel/plugin-transform-object-super
public-hoist-pattern[]=@babel/plugin-transform-parameters
public-hoist-pattern[]=@babel/plugin-transform-property-literals
public-hoist-pattern[]=@babel/plugin-transform-react-display-name
public-hoist-pattern[]=@babel/plugin-transform-react-jsx
public-hoist-pattern[]=@babel/plugin-transform-react-jsx-development
public-hoist-pattern[]=@babel/plugin-transform-react-pure-annotations
public-hoist-pattern[]=@babel/plugin-transform-regenerator
public-hoist-pattern[]=@babel/plugin-transform-reserved-words
public-hoist-pattern[]=@babel/plugin-transform-runtime
public-hoist-pattern[]=@babel/plugin-transform-shorthand-properties
public-hoist-pattern[]=@babel/plugin-transform-spread
public-hoist-pattern[]=@babel/plugin-transform-sticky-regex
public-hoist-pattern[]=@babel/plugin-transform-template-literals
public-hoist-pattern[]=@babel/plugin-transform-typeof-symbol
public-hoist-pattern[]=@babel/plugin-transform-typescript
public-hoist-pattern[]=@babel/plugin-transform-unicode-escapes
public-hoist-pattern[]=@babel/plugin-transform-unicode-regex
public-hoist-pattern[]=@babel/polyfill
public-hoist-pattern[]=@babel/preset-env
public-hoist-pattern[]=@babel/preset-modules
public-hoist-pattern[]=@babel/preset-react
public-hoist-pattern[]=@babel/preset-typescript
public-hoist-pattern[]=@babel/register
public-hoist-pattern[]=@babel/runtime
public-hoist-pattern[]=@babel/types
public-hoist-pattern[]=@gaiaworks/captcha
public-hoist-pattern[]=@gaiaworks/react-doc-viewer
public-hoist-pattern[]=@pandora/eslint-config-typescript
public-hoist-pattern[]=@pandora/externals-webpack-plugin
public-hoist-pattern[]=@researchgate/react-intersection-observer
public-hoist-pattern[]=@stylelint/postcss-css-in-js
public-hoist-pattern[]=@tinymce/tinymce-react
public-hoist-pattern[]=@types/ali-oss
public-hoist-pattern[]=@types/autosize
public-hoist-pattern[]=@types/codemirror
public-hoist-pattern[]=@types/dompurify
public-hoist-pattern[]=@types/draft-js
public-hoist-pattern[]=@types/file-saver
public-hoist-pattern[]=@types/history
public-hoist-pattern[]=@types/intl-tel-input
public-hoist-pattern[]=@types/iscroll
public-hoist-pattern[]=@types/lodash
public-hoist-pattern[]=@types/pdfobject
public-hoist-pattern[]=@types/prop-types
public-hoist-pattern[]=@types/pubsub-js
public-hoist-pattern[]=@types/raf
public-hoist-pattern[]=@types/react
public-hoist-pattern[]=@types/react-addons-shallow-compare
public-hoist-pattern[]=@types/react-color
public-hoist-pattern[]=@types/react-cropper
public-hoist-pattern[]=@types/react-custom-scrollbars
public-hoist-pattern[]=@types/react-dom
public-hoist-pattern[]=@types/react-highlight-words
public-hoist-pattern[]=@types/react-is
public-hoist-pattern[]=@types/react-lines-ellipsis
public-hoist-pattern[]=@types/react-mixin
public-hoist-pattern[]=@types/react-onclickoutside
public-hoist-pattern[]=@types/react-router
public-hoist-pattern[]=@types/react-router-dom
public-hoist-pattern[]=@types/react-syntax-highlighter
public-hoist-pattern[]=@types/react-timeout
public-hoist-pattern[]=@types/react-transition-group
public-hoist-pattern[]=@types/seamless-immutable
public-hoist-pattern[]=@types/tether
public-hoist-pattern[]=@types/uuid
public-hoist-pattern[]=@typescript-eslint/eslint-plugin
public-hoist-pattern[]=@typescript-eslint/parser
public-hoist-pattern[]=arraybuffer-to-string
public-hoist-pattern[]=autosize
public-hoist-pattern[]=babel-config-pandora
public-hoist-pattern[]=babel-eslint
public-hoist-pattern[]=babel-loader
public-hoist-pattern[]=babel-plugin-import
public-hoist-pattern[]=babel-plugin-jsx-control-statements
public-hoist-pattern[]=babel-plugin-module-resolver
public-hoist-pattern[]=babel-plugin-polyfill-corejs2
public-hoist-pattern[]=babel-plugin-polyfill-corejs3
public-hoist-pattern[]=babel-plugin-polyfill-regenerator
public-hoist-pattern[]=babel-plugin-webpack-alias
public-hoist-pattern[]=babel-preset-mobx
public-hoist-pattern[]=braft-editor
public-hoist-pattern[]=braft-utils
public-hoist-pattern[]=browser-which
public-hoist-pattern[]=case-sensitive-paths-webpack-plugin
public-hoist-pattern[]=classlist-polyfill
public-hoist-pattern[]=classnames
public-hoist-pattern[]=clean-webpack-plugin
public-hoist-pattern[]=codemirror
public-hoist-pattern[]=compressorjs
public-hoist-pattern[]=contra
public-hoist-pattern[]=copy-webpack-plugin
public-hoist-pattern[]=core-js
public-hoist-pattern[]=core-js-compat
public-hoist-pattern[]=cropperjs
public-hoist-pattern[]=cross-env
public-hoist-pattern[]=crossvent
public-hoist-pattern[]=css-async-process-webpack-plugin
public-hoist-pattern[]=css-loader
public-hoist-pattern[]=css-minimizer-webpack-plugin
public-hoist-pattern[]=css-variables-to-less-loader
public-hoist-pattern[]=dayjs
public-hoist-pattern[]=dompurify
public-hoist-pattern[]=draft-js
public-hoist-pattern[]=element-closest-polyfill
public-hoist-pattern[]=eslint
public-hoist-pattern[]=eslint-config-airbnb
public-hoist-pattern[]=eslint-config-airbnb-typescript
public-hoist-pattern[]=eslint-config-pandora-typescript
public-hoist-pattern[]=eslint-config-prettier
public-hoist-pattern[]=eslint-plugin-compat
public-hoist-pattern[]=eslint-plugin-import
public-hoist-pattern[]=eslint-plugin-jsx-a11y
public-hoist-pattern[]=eslint-plugin-jsx-control-statements
public-hoist-pattern[]=eslint-plugin-prettier
public-hoist-pattern[]=eslint-plugin-react
public-hoist-pattern[]=eslint-plugin-react-hooks
public-hoist-pattern[]=file-saver
public-hoist-pattern[]=fork-ts-checker-notifier-webpack-plugin
public-hoist-pattern[]=fork-ts-checker-webpack-plugin
public-hoist-pattern[]=fork-webpack-subresource-integrity
public-hoist-pattern[]=git-revision
public-hoist-pattern[]=history
public-hoist-pattern[]=html-to-react
public-hoist-pattern[]=html-webpack-plugin
public-hoist-pattern[]=http-ajax
public-hoist-pattern[]=husky
public-hoist-pattern[]=i18next
public-hoist-pattern[]=intersection-observer
public-hoist-pattern[]=intl-tel-input
public-hoist-pattern[]=iscroll
public-hoist-pattern[]=json5
public-hoist-pattern[]=jszip
public-hoist-pattern[]=less
public-hoist-pattern[]=less-loader
public-hoist-pattern[]=less-plugin-autoprefix
public-hoist-pattern[]=line-height
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=lodash
public-hoist-pattern[]=mini-css-extract-plugin
public-hoist-pattern[]=mobx
public-hoist-pattern[]=mobx-react
public-hoist-pattern[]=mobx-react-lite
public-hoist-pattern[]=nanoid
public-hoist-pattern[]=node-args
public-hoist-pattern[]=normalize.css
public-hoist-pattern[]=npm-install-webpack-plugin
public-hoist-pattern[]=pandora-cleave.js
public-hoist-pattern[]=pdfobject
public-hoist-pattern[]=postcss-less
public-hoist-pattern[]=prettier
public-hoist-pattern[]=prop-types
public-hoist-pattern[]=pubsub-js
public-hoist-pattern[]=raw-loader
public-hoist-pattern[]=rc-motion
public-hoist-pattern[]=rc-slider
public-hoist-pattern[]=react
public-hoist-pattern[]=react-codemirror2
public-hoist-pattern[]=react-color
public-hoist-pattern[]=react-contenteditable
public-hoist-pattern[]=react-cropper
public-hoist-pattern[]=react-custom-scrollbars
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=react-draggable
public-hoist-pattern[]=react-highlight-words
public-hoist-pattern[]=react-i18next
public-hoist-pattern[]=react-is
public-hoist-pattern[]=react-iscroll
public-hoist-pattern[]=react-lines-ellipsis
public-hoist-pattern[]=react-mixin
public-hoist-pattern[]=react-onclickoutside
public-hoist-pattern[]=react-router
public-hoist-pattern[]=react-router-dom
public-hoist-pattern[]=react-spinkit
public-hoist-pattern[]=react-tether
public-hoist-pattern[]=react-timeout
public-hoist-pattern[]=react-transition-group
public-hoist-pattern[]=resize-observer-polyfill
public-hoist-pattern[]=seamless-immutable
public-hoist-pattern[]=semver
public-hoist-pattern[]=string-to-arraybuffer
public-hoist-pattern[]=style-loader
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=stylelint-no-unsupported-browser-features
public-hoist-pattern[]=theme-color-generator
public-hoist-pattern[]=theme-color-switch
public-hoist-pattern[]=theme-color-webpack-plugin
public-hoist-pattern[]=tsx-control-statements
public-hoist-pattern[]=typescript
public-hoist-pattern[]=uuid
public-hoist-pattern[]=web-vitals
public-hoist-pattern[]=webpack
public-hoist-pattern[]=webpack-cli
public-hoist-pattern[]=webpack-dev-server
public-hoist-pattern[]=webpack-merge
public-hoist-pattern[]=gulp-util
public-hoist-pattern[]=babel-runtime
public-hoist-pattern[]=@ant-design/icons
public-hoist-pattern[]=shallowequal
public-hoist-pattern[]=@antv/util
public-hoist-pattern[]=events