.moduleEntry {

    .entryIcon,
    .name {
        color: var(--primary-regular);
    }

    &.active {
        background: var(--primary-regular);

        .entryIcon,
        .fullName,
        .name {
            color: var(--color-text-inverse);
        }
    }
}